# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
venv/
env/
ENV/

# Logs and databases
*.log
*.sql
*.sqlite

# Output of the pytest test runner
pytest_cache/

# Environment variables file
.env

# IDE-specific files
.idea/
.vscode/

# Dependency directories
pip-wheel-metadata/
pip/
dist/
build/
